/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
  
}

.container-form {
  background-image: url("background.jpg");
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  justify-content: center;
  display: flex;
  align-items: center;
  flex-direction: column;

}

.entry-window {
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
}

.p-r-55 {
  padding-right: 55px;
}
.p-l-55 {
  padding-left: 55px;
}
.p-b-54 {
  padding-bottom: 40px;
}
.p-t-65 {
  padding-top: 65px;
}

.input-window {
  justify-content: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.heading {
  display: block;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 39px;
  color: #333333;
  text-align: center;
  padding-bottom: 49px
}

.input-email-password {
  font-size: 20px;
  border: none;
  height: 30px;
  margin-bottom: 23px;
  border-bottom: 2px solid #d9d9d9;
}

.input-email-password:active, :hover, :focus {
  outline: 0;
  outline-offset: 0;
}

.input-email-password:focus::placeholder {
  color: transparent;
}

.button{
  font-size: 18px;
  background-color: #9a55f3;
  border: none;
  color: white;
  height: 35px;
  width: 100%;
  border-radius: 25px;
  margin-bottom: 10px;
  margin-top: 15px;
}
.button:hover{
  background-color: #7276ed;
}
.button:active{
  background-color: #9a55f3;
}

.button_home{
  width: 50%;
}

.link {
  display: block;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
  color: #333333;
  text-align: center;
  margin-top: 60px;
  text-decoration: none;
}

.home{
  width: 50%;
  background-color: #ece8ec4f ;
}

.home:hover{
  background-color: #bf1ee1;
}

